[Unit]
Description=Run Bluesky Auto-Like (%i)

[Timer]
OnBootSec=45s
OnUnitActiveSec=120s
RandomizedDelaySec=10s
Persistent=true
Unit=bsky-autolike@%i.service

[Install]
WantedBy=timers.target
